<nav  class="my-3 d-flex justify-content-center align-content-center">
  <ul class="list-unstyled d-flex align-items-center gap-1">
    <li class="rounded-3"><a><i class="fa-solid fa-arrow-left"></i> Prev...</a></li>
    <li class="rounded-3"><a class="rounded-3 text-decoration-none" routerLink="page1" routerLinkActive="active">1</a></li>
    <li class="rounded-3"><a class="rounded-3 text-decoration-none" routerLink="page2" routerLinkActive="active">2</a></li>
    <li class="rounded-3"><a class="rounded-3 text-decoration-none" routerLink="page3" routerLinkActive="active">3</a></li>
    <li class="rounded-3"><a class="rounded-3 text-decoration-none" routerLink="page4" routerLinkActive="active">4</a></li>
    <li class="rounded-3"><a>Next... <i class="fa-solid fa-arrow-right"></i></a></li>
  </ul>
</nav>
